{% extends 'base.html.twig' %}

{% block title %}Hello EventController!
{% endblock %}

{% block body %}
	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg header">
			<div class="container">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav header_gap">
						<li class="nav-item">
							<a class="nav-link header" href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link header" href="#">Discover</a>
						</li>
						<li class="nav-item">
							<a class="nav-link header" href="{{ path('app_logout') }}">Logout</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>


	<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 filter_black">
		<ul class="nav">
			{% set counter = 1 %}
			{% for category in categories %}
				<li class="nav-item">
					<a class="nav-link filter_black" href="#scrollspyHeading-{{ counter }}">{{ category.name }}</a>
					{% set counter = counter + 1 %}
				{% endfor %}
			</li>

		</ul>
	</nav>

	<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" class="container_filter">
		{% for category in categories %}
			<h4 id="scrollspyHeading-{{ loop.index }}">{{ category.name }}</h4>


			<div class="container_filter_card">
				{% for event in category.events %}
					<div class="card" style="width: 18rem;">
						<img src={{ vich_uploader_asset(event, 'imageFile') }}>
						<div class="card-body">
							<h3 class="card-title">{{ event.name}}</h3>
							<p class="card-text">{{event.description}}</p>
							<p class="card-text">{{event.cashprize}}
								$</p>
							<p>
								Start :
								{{ event.datestart | date("m/d/y")}}
							</p>
							<p>
								End :{{ event.dateend | date("m/d/y")}}
							</p>
							<a href="{{ path('app_home_details', {'id': event.id}) }}">
								<button class="btn button_hover">Details
								</button>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
