{% extends 'base.html.twig' %}

{% block title %}Hello EventController!
{% endblock %}

{% block body %}
	<nav id="navbar-example2" class="navbar sticky-top bg-body-tertiary px-3 mb-3 filter_black">
		<ul class="nav">
			{% set counter = 1 %}
			{% for category in categories %}
				<li class="nav-item">
					<a class="nav-link filter_black" href="#scrollspyHeading-{{ counter }}">{{ category.name }}</a>
					{% set counter = counter + 1 %}
				{% endfor %}
			</li>
		</ul>
	</nav>

	<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" class="container_filter">
		{% for category in categories %}
			<h4 id="scrollspyHeading-{{ loop.index }}">{{ category.name }}</h4>
			<div class="container_filter_card">
				{% if category.events is not empty %}
					{% for event in category.events %}
						<div class="card" style="width: 18rem;">
							<img src={{ vich_uploader_asset(event, 'imageFile') }}>
							<div class="card-body">
								<h3 class="card-title">{{ event.name}}</h3>
								<p class="card-text">{{event.cashprize}}
									$</p>
								<p>
									Start :
									{{ event.datestart | date("m/d/y")}}
								</p>
								<p>
									End :{{ event.dateend | date("m/d/y")}}
								</p>
								<a href="{{ path('app_home_details', {'id': event.id}) }}">
									<button class="btn button_hover">Details
									</button>
								</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No tournaments found in this category.</p>
				{% endif %}
			</div>


			

		{% endfor %}

	</div>
{% endblock %}
