{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="container_title">
		<div class="title">Start.wp
			<p class="sub_title">Community through competition</p>

			{% if app.user %}
				<a href="{{ path('app_create_event') }}">
					<button class="btn button_hover">Organize a competition
					</button>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}">
					<button class="btn button_hover">Organize a competition
					</button>
				</a>
			{% endif %}
			<a href="{{ path('app_event_filter') }}">
				<button class="btn button_hover">Find a competition
				</button>
			</a>
		</div>
	</section>
	<div class="card_flex">
		{% for event in events %}
			<div class="card" style="width: 18rem;">
				<img src={{ vich_uploader_asset(event, 'imageFile') }}>
				<div class="card-body">
					<h3 class="card-title">{{ event.name}}</h3>
					<p class="card-text">{{event.cashprize}}
						$</p>
					<p>
						Start :
						{{ event.datestart | date("m/d/y")}}
					</p>
					<p>
						End :{{ event.dateend | date("m/d/y")}}
					</p>
					<a href="{{ path('app_home_details', {'id': event.id}) }}">
						<button class="btn button_hover">Details
						</button>
					</a>
				</div>
			</div>
		{% endfor %}

	</div>


{% endblock %}
