{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg header">
			<div class="container">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav header_gap">
						<li class="nav-item">
							<a class="nav-link header" href="{{ path('app_login') }}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link header" href="{{ path('app_register') }}">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link header" href="{{ path('app_event_filter') }}">Discover</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<section class="container_title">
		<div class="title">Start.wp
			<p class="sub_title">Community through competition</p>
			<a href="{{ path('app_register') }}">
				<button class="btn button_hover">Organize a competition
				</button>
			</a>
			<a href="{{ path('app_profil') }}">
				<button class="btn button_hover">Find a competition
				</button>
			</a>
		</div>
	</section>
	<div class="card_flex">
		{% for event in events %}
			<div class="card" style="width: 18rem;">
				<img src={{ vich_uploader_asset(event, 'imageFile') }}>
				<div class="card-body">
					<h3 class="card-title">{{ event.name}}</h3>
					<p class="card-text">{{event.description}}</p>
					<p class="card-text">{{event.cashprize}}
						$</p>
					<p>
						Start :
						{{ event.datestart | date("m/d/y")}}
					</p>
					<p>
						End :{{ event.dateend | date("m/d/y")}}
					</p>
					<a href="{{ path('app_home_details', {'id': event.id}) }}">
						<button class="btn button_hover">Details
						</button>
					</a>
				</div>
			</div>
		{% endfor %}

	</div>


{% endblock %}
