{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<section class="section_profil">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Informations personals</h5>
				<p class="card-text">Pseudo :
					{{ app.user.pseudo }}</p>
				<p class="card-text">Email :
					{{ app.user.email }}</p>
				<a href="{{ path('app_register') }}">
					<button class="btn button_hover">Modify
					</button>
				</a>
			</div>
		</div>
	</section>

	<section class="section_profil">
		<h5 class="card-title">Tournaments</h5>


		{% if eventUser is not empty %}
			<div class="card_flex">
				{% for event in eventUser %}
					<div class="card" style="width: 18rem;">
						<img src={{ vich_uploader_asset(event, 'imageFile') }}>
						<div class="card-body">
							<h3 class="card-title">{{ event.name}}</h3>
							<p class="card-text">{{event.description}}</p>
							<p class="card-text">{{event.cashprize}}
								$</p>
							<p>
								Start :
								{{ event.datestart | date("m/d/y")}}
							</p>
							<p>
								End :{{ event.dateend | date("m/d/y")}}
							</p>
							<a href="{{ path('app_home_details', {'id': event.id}) }}">
								<button class="btn button_hover">Details
								</button>
							</a>
						</div>
					</div>
				{% endfor %}

			</div>
		{% else %}
			<p>No threads found for the current user.</p>
		{% endif %}


	</section>
{% endblock %}
