{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<section class="container_filter">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Informations personals</h5>
				<p class="card-text">Pseudo :
					{{ app.user.pseudo }}</p>
				<p class="card-text">Email :
					{{ app.user.email }}</p>
				<a href="{{ path('app_modify_profil') }}">
					<button class="btn button_hover">Modify
					</button>
				</a>
			</div>
		</div>
	</section>

	<section class="container_filter">
		<h5 class="card-title">Tournaments</h5>
		{% if events is not empty %}
			<div class="container_filter_card">
				{% for event in events %}
					<div class="card" style="width: 18rem;">
						<img src={{ vich_uploader_asset(event, 'imageFile') }}>
						<div class="card-body">
							<h3 class="card-title">{{ event.name}}</h3>
							<p class="card-text">{{event.cashprize}}
								$</p>
							<p>
								Start :
								{{ event.datestart | date("m/d/y")}}
							</p>
							<p>
								End :{{ event.dateend | date("m/d/y")}}
							</p>
							<a href="{{ path('app_home_details', {'id': event.id}) }}">
								<button class="btn button_hover">Details
								</button>
							</a>
							{% if app.user == event.user %}
								<form class="form_delete" action="{{ path('app_event_delete', {'id': event.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn button_hover_danger">Supprimer l'événement</button>
								</form>
							{% endif %}

						</div>
					</div>
				{% endfor %}

			</div>
		{% else %}
			<p>No tournaments found for the current user.</p>
		{% endif %}


	</section>
{% endblock %}
